.camp-list {
  overflow-y:auto;
  height: 450px;
  width: 100%;
}

.camp-list-2 {
  padding-top: 10px;
  display: flex;
  flex-flow: row wrap;
}

.photo-thumbnail {
  width: 100%;
}

.photo-thumbnail img {
  width: 100%;
}

.camp-site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 45%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 4px;
}

.site-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

.site-name a {
  text-decoration: none;
  color: rgb(15, 94, 61);
  font-weight: 500;
}

