.developers {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}

.developers > div {
  border: 1px solid black;
  width: 200px;
  height: 250px;
  margin: 10px 40px;
  margin-bottom: 40px;
}