.index-holder {
  display: flex;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  margin: 5%;
  /* justify-content: space-around; */
}

.search-holder {

  width: 12%;
  padding: 5% 3%;
}

.map-holder {
  position: relative;
  width: 850px;
  height: 600px;
  overflow: hidden;
  border: 3px solid #333;
  border-left: 0px;
  border-radius: 0px 2px 2px 0px;
}