.index-holder {
  display: flex;
  widows: 100%;
  margin: 5%;
  justify-content: space-around;
  border: black 1px solid;
}

.search-holder {
  width: 8%;
  padding: 3% 1%;
}

.map-holder {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 3% 1%;
  border: green 1px solid
}