.index-holder {
  display: flex;
  /* widows: 100%; */
  margin: 5%;
  /* justify-content: space-around; */
  border: black 1px solid;
}

.search-holder {
  width: 12%;
  padding: 5% 3%;
}

.map-holder {
  width: 200px;
  /* width: 70%; */
  margin-right: 100px;
  /* border: 1px solid  */
}