.nav-bar-container {
    position: sticky;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.nav-buttons{
    margin: 10px;
    padding: 15px;
    height: 20px;
}

.nav-buttons .btn {
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    background: white;
    color: rgb(15, 94, 61);
    border: 1px solid rgb(15, 94, 61);
    transition-duration: 0.4s;
}

.nav-buttons .btn:hover {
    background: rgb(15, 94, 61);
    color: white;
}