textarea {
  outline: none;
  resize: none;
  overflow: auto;
  min-height: 100px;
}

.review-holder {
  margin: 0 4em;
  margin: 0 4em;
  padding: 1em 2em;
  display: flex;
  justify-content: space-around;
}

.review-label {
  font-size: 20px;
  /* padding-top: 10px; */
  font-weight: 600;
}

.rating-container {
  width: 75%;
  max-width: 250px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

.review-form-container {
  margin-right: 100px;
  margin-left: 20px;
  width: 30%;
}

.review-list {
  width: 50%;
}

.review-dropdown {
  margin-left: -157px;
}

.review-form {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.review-list-container > p {
  margin-bottom: 10px;
  padding-top: 10px;
  font-weight: 600;
}

.review-list-container a, button {
  text-decoration: none;
  margin-right: 10px;
  padding: 7px;
  background: white;
  color: rgb(15, 94, 61);
  border: 2px solid rgb(15, 94, 61);
  border-radius: 2px;
  transition-duration: 0.4s;
}

.review-list-container a:hover {
  background: rgb(15, 94, 61);
  color: white;
}

.review-list-container button:hover {
  background: rgb(15, 94, 61);
  color: white;
}

.single-review-container {
  margin-bottom: 20px;
  display: flex;
}

.review-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-review-container > div {
  margin-bottom: 5px;
}

.username-rating {
  display: flex;
  font-size: 20px;
  padding-bottom: 15px;
}

.upvote {
  padding: 5px 0;
  text-align: center;
}

.downvote {
  text-align: center;
}

.review-content {
  font-size: 18px;
  padding-top: 10px;
}

.review-score {
  display: flex;
  justify-content: space-between;
  padding-right: 7px;
}

.positive {
  color: rgb(34, 34, 179);
}

.negative {
  color: rgb(199, 48, 48);
}

.rating-input {
  margin-left: 10px;
  text-align: center;
}

.rate {
  display: flex;
}

.rate span {
  margin-right: 5px;
}

.submit-btn {
  margin-top: 10px;
}