textarea {
  outline: none;
  resize: none;
  overflow: auto;
  min-height: 100px;
}

.review-holder {
  margin-left: 150px;
  margin-right: 150px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1rem;
  display: flex;
  
  /* font-family: "Calibre", Helvetica, Arial, sans-serif; */

}

.review-label {
  border-top: 1px solid black;
  font-size: 20px;
  padding-top: 10px;
  font-weight: 600;
}

.rating-container {
  margin-top: 10px;
}

.review-form-container {
  margin-right: 100px;
  margin-left: 20px;
  width: 30%;
}

.review-list {
  width: 70%;
}

.review-form {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.review-form div{
  padding-bottom: 20px;
}

.review-list-container > p {
  margin-bottom: 10px;
  padding-top: 10px;
  font-weight: 600;
}

.review-list-container a, button {
  text-decoration: none;
  margin-right: 10px;
  padding: 7px;
  background: white;
  color: rgb(15, 94, 61);
  border: 2px solid rgb(15, 94, 61);
  border-radius: 2px;
  transition-duration: 0.4s;
}

.review-list-container a:hover {
  background: rgb(15, 94, 61);
  color: white;
}

.review-list-container button:hover {
  background: rgb(15, 94, 61);
  color: white;
}

.single-review-container {
  margin-bottom: 20px;
  display: flex;
}

.review-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-review-container > div {
  margin-bottom: 5px;
}

.username-rating {
  display: flex;
  font-size: 20px;
}

/* .username-rating > div {
  margin-right: 15px;
} */

.upvote {
  padding: 5px 0;
  text-align: center;
}

.downvote {
  text-align: center;
}

.review-content {
  padding-top: 10px;
}

.review-score {
  display: flex;
  justify-content: space-between;
  padding-right: 7px;
}

.positive {
  color: rgb(34, 34, 179);
}

.negative {
  color: rgb(199, 48, 48);
}