.show-outer-container {
  min-height: 500px;
  /* max-width: 1500px; */
  /* margin: 0 auto; */
}

.show-map-wrapper {
  height: 400px;
}

.show-map-info {
  position: relative;
  min-width: 400px;
  min-height: 400px;
  margin-bottom: 30px;
  overflow: hidden;
} 
.show-detail-wrapper {
  display: flex;
  justify-content: center;
  margin: 0px 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1rem;
}

.show-info-wrapper {
  height: 100%;
  width: 100%;
}

.show-title-bar {
  margin-bottom: 1rem;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
}

.show-name {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 10px;
}

.show-mid-section {
  margin-bottom: 10px;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
}

.site-features {
  font-size: 15px;
  width: 100%;
  padding-left: 15px;
}

.show-picture-wrapper {
    width: 400px;
    height: 400px;
}

.show-picture-wrapper img {
  width: 100%
}

.site-features > div {
  display: flex;
  margin: 8px 0px;
}

.show-feature-label {
  width: 50%;
  margin-right: 25px;
}

.show-feature-body {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.show-picture-wrapper > div {
  width: 400px;
  height: 400px;
  /* border: 1px solid black; */
}

.show-description {
  margin-top: 1.5rem;
  padding: 0px 25px;
}

.show-description > h3 {
  font-size: 23px;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.show-feature-label {
  display: flex;
  width: 200px;
}

.show-feature-label > img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.show-detail-container {
  min-height: 480px;
}

.show-review-container {
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.show-btn-container {
  display: flex;
  justify-content: space-between;
}

.slideset {
  width: 400px;
  height: 400px;
}

/* .show-btn-container .btn {
  min-width: 400px;
} */

/* .edit-btn {
  display: flex;
  align-content: center;
}

.edit-btn > a {
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 50px;
  margin-left: 5px;
  padding: 5px 15px;
  background: rgb(15, 94, 61);
  color: white;
  border: 2px solid rgb(15, 94, 61);
  border-radius: 2px;
  transition-duration: 0.4s;
}

.edit-btn > a:hover {
  background-color: white;
  color: rgb(15, 94, 61);
  font-weight: normal;
} */