.show-outer-container {
  min-height: 500px;
  /* max-width: 1500px; */
  /* margin: 0 auto; */
}

.show-map-wrapper {
  height: 400px;
}

.show-map-info {
  position: relative;
  min-width: 400px;
  min-height: 400px;
  margin-bottom: 30px;
}

.show-detail-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 3em;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1rem;
}

.show-info-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 3em;
}

.show-title-bar {
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
}

.show-founder {
  padding: 0px 30px;
}

.show-name {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 10px;
}

.site-features {
  font-size: 22px;
  width: 100%;
  padding-left: 15px;
  width: 100%;
}

.show-picture-wrapper {
  width: 100%;
  height: 400px;
}

.show-picture-wrapper img {
  width: 100%;
}

.site-features > div {
  display: flex;
  margin: 8px 0px;
}

.show-feature-label {
  width: 50%;
  margin-right: 25px;
}

.show-feature-body {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

#show-username {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #333;
}

#photo-messages {
  padding-right: 15px;
}

.show-picture-wrapper > div {
  width: 100%;
  height: 400px;
  /* border: 1px solid black; */
}

.show-description {
  font-size: 20px;
  margin-top: 1.5rem;
  padding: 0px 30px;
}

.show-description{
  font-size: 20px;
  /* font-family: "Calibre", Helvetica, Arial, sans-serif; */
  margin-bottom: 20px;
}

.show-feature-label {
  display: flex;
  width: 200px;
}

.show-feature-label > img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.show-detail-container {
  min-height: 480px;
}

.show-review-container {
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.show-btn-container {
  display: flex;
  justify-content: space-between;
}

.slideset {
  width: 100%;
  height: 400px;
}
