.show-outer-container {
  min-height: 550px;
  max-width: 1500px;
  margin: 0 auto;
}

.show-map-info {
  position: relative;
  width: 650px;
  height: 650px;
  overflow: hidden;
}

.show-detail-wrapper {
  margin-left: 190px;
  margin-right: 190px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1rem;
  display: flex;
}

.show-info-wrapper {
  width: 75%
}

.show-title-bar {
  margin-bottom: 1rem;
  
  padding: 0px 15px;
}

.show-name {
  font-family: Roboto Condensed,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 10px;
}

.show-mid-section {
  margin-bottom: 10px;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
}

.site-features {
  font-size: 15px;
  width: 60%;
}

.show-picture-wrapper {
  width: 40%;
}

.site-features > div {
  display: flex;
  margin: 3px 0px;
}

.show-feature-label {
  width: 30%;
}

.show-feature-body {
  width: 70%;
}

.show-picture-wrapper > div {
  width: 100%;
  height: 240px;
  border: 1px solid black;
}

.show-description {
  margin-top: 1.5rem;
}

.show-description > h3 {
  font-size: 23px;
  font-family: Roboto Condensed,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

