.slideset {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideset-img-container {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 90%;
  min-height: 100%;
}

.image-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

.image-slide > img {
  flex-shrink: 0;
  width: 100%;
  height: 100%
}

.slide-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 0px;
  padding: 10px;
  border: 2px solid rgb(15, 94, 61);
  border-radius: 2px;
  transition-duration: 0.4s;
  background: white;
  color: rgb(15, 94, 61);
  text-decoration: none;
  font: 16px system-ui;
}

.slide-arrow:hover {
  cursor: pointer;
  color: white;
  background: rgb(15, 94, 61);
}

/* .btn {
  text-decoration: none;
  padding: 10px;
  border: 2px solid rgb(15, 94, 61);
  border-radius: 2px;
  transition-duration: 0.4s;
  background: rgb(15, 94, 61);
  color: white;
  text-decoration: none;
  font: 16px system-ui;
} */

/* .btn:hover {
  color: rgb(15, 94, 61);
  background: white;
} */

.photo-input {
  display: flex;
  justify-content: center;
  margin: 5% 5%;
  /* margin: 15px 19px 0 19px; */
}

.photo-input input {
  width: 100%;
  max-width: 250px;
}

.photo-input > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-input > .btn {
  margin: 0px 0px 0px 10px;
}