.splash-main {
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    color: #333;
    width: 100%;
    min-height: 900px;
    background-image: url('/tent_splash.png');
    background-size: contain;
    background-size: cover;
    background-position: center;
}

.splash-enter {
    text-align: center;
    padding-top: 30%;
    z-index: 2;
}

.splash-head-holder{
    margin: 30px;
}

.splash-head-holder h1{
    color: white;
    font-size: 45px;
    padding-bottom: 2%;
}

.splash-buttons{
    margin: 10px;
    height: 20px;
}

.splash-buttons a {
    text-decoration: none;
    margin-right: 10px;
    padding: 25px;
    background: rgb(15, 94, 61, 0.7);
    color: white;
    border: 0px solid rgb(15, 94, 61);
    border-radius: 2px;
    transition-duration: 0.4s;
    font-weight: 600;

}

.splash-buttons a:hover {
    color: white;
    background: rgb(15, 94, 61);
    opacity: 100;
}

.splash-buttons a:visited {
    color: white;
    text-decoration: none;
}