.user-main a {
  text-decoration: none;
  color: black;
} 

.user-main a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.user-main a:hover {
  cursor: pointer;
  font-weight: bold;
}

.user-main {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  width: 80%;
  min-height: 500px;
  margin: 3% auto;
  border: black solid 1px;
  padding: 5%;
  background-color: rgb(218, 218, 218);
}

.user-details {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.user-tabs {
  width: 100%;
  margin: 0 auto;
  
}

.tabs {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
}

.tab-header {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.tab-header > li:first-child:hover {
  background-color: inherit;
  cursor: inherit;
}

.tab-header > li {
  width: 75%;
  padding: 10px 0;
}

.tab-header > li:hover {
  cursor: pointer;
  background-color: white;
}

.active {
  font-weight: bold;
  background-color: white;

}

.tab-content {
  width: 75%;
  background-color: white;
  border-radius: 3px;
  text-align: center;
}

.tab-content li {
  padding: 10px;
}

.review-header {
  display: flex;
}

.review {
  padding: 7px;
}

.camp-name {
  font-weight: bold;
  padding-right: 3px;
  text-transform: uppercase;
}

.review-rating {
  font-size: smaller;
}

.review-body {
  text-align: left;
  padding: 3px 10px;
}

.photo-image {
  width: 100%;
}